<!DOCTYPE html>
<html lang="en">

<head>
<meta name="author" content="MONARCH MAISURIYA">
<meta name="author" content="HIMANSHU JOSHI">
   <% include ./head %>

<!--Sweet Alerts CDN-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<% if(swalsucc){ %>
  <script>
swal("Success", "Successfully deleted the component", "info");
</script>
<%}%>
<% if(swalerr){ %>
<script>
swal("Error!", "An error has occured", "error");
</script>
<%}%>

</head>

<body class="grey lighten-3">

  <!--Main Navigation-->
  <header>
 <% include ./header %>
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">


     <section id="upcoming-events" class="">
      
       <div class="jumbotron p-5 ">
        <h1 class=" text-center">Upcoming Events</h1>
        <div class="table-responsive text-nowrap">
        <!--Table-->
        <table class="table container table-hover center-element ">

          <!--Table head-->
          <thead>
            <tr>
             
              <th>Name</th>
              <th>Options</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
           <% upcomingEvents.forEach(function(item){ %>
            <tr> 
              <th><a href="info/<%= item.title %>"><%= item.title %></a></th>
              <td colspan="2"><a class="btn btn-indigo btn-sm " href="/modify/<%= item.key %>" role="button">Edit</a>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#<%= item.key %>">
               Delete
              </button>
              </td>
           

              <!-- Modal -->
              <div class="modal fade" id="<%= item.key %>" tabindex="-1" role="dialog" aria-labelledby="<%= item.key %>"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header danger-color">
                      <h5 class="modal-title white-text" id="exampleModalLabel">Confirm</h5>
                      <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form method="POST" action="/delete/<%= item.title %>">
                    <div class="modal-body">
                    Are you sure you want to delete <span class="font-weight-bold"><%= item.title %></span> ?
                    <div class="mt-3">
                    <input type="hidden" name="itemToDelete" value="<%= item.title %>" />
                      <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                       </form>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
             <% }) %>
          </tbody>
          <!--Table body-->
          
        </table>
        <!--Table-->
      <a class="btn primary-color-dark white-text btn-sm ml-5 " href="/add/upcoming" role="button">add new</a>
      <a class="btn primary-color-dark white-text btn-sm ml-5 " href="/info/" role="button">View All</a>
      <small class="grey-text mt-4 mr-5" style="float:right;">Click the name to view participants list for that event.</small>
      </div>

    </section>


       <section id="industrial-visits" class="">
      
       <div class="jumbotron ">
        <h1 class="text-center">Industrial Visits</h1>
       <!--Table-->
        <table class="table container table-hover center-element ">

          <!--Table head-->
          <thead>
            <tr>
             
              <th>Name</th>
              <th>Options</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
        <% visits.forEach(function(item){ %>
        <tr class="text-justify"> 
              <th><%= item.title %></th>
              <td colspan="2"><a class="btn btn-indigo btn-sm " href="/modify/<%= item.key %>" role="button">Edit</a>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#<%= item.key %>">
               Delete
              </button>
              </td>
           

              <!-- Modal -->
              <div class="modal fade" id="<%= item.key %>" tabindex="-1" role="dialog" aria-labelledby="<%= item.key %>"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header danger-color">
                      <h5 class="modal-title white-text" id="exampleModalLabel">Confirm</h5>
                      <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form method="POST" action="/delete/<%= item.title %>">
                    <div class="modal-body">
                    Are you sure you want to delete <span class="font-weight-bold"><%= item.title %></span> ?
                    <div class="mt-3">
                    
                      <button class="btn btn-danger btn-sm" name="itemToDelete" value="<%= item.title %>" type="submit">Delete</button>
                      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                       </form>
                    </div>
                  </div>
                </div>
              </div></td>
            </tr>
             <% }) %>
          </tbody>
          <!--Table body-->
          
        </table>
        <!--Table-->
        <a class="btn primary-color-dark white-text btn-sm ml-5 " href="/add/industrial" role="button">add new</a>
         
      </div>

    </section>

     <section id="former-events" class="">
      
       <div class="jumbotron">
        <h1 class=" text-center">Former Events</h1>
        <!--Table-->
        <table class="table container table-hover center-element ">

          <!--Table head-->
          <thead>
            <tr>
             
              <th>Name</th>
              <th>Options</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
         <% formerEvents.forEach(function(item){ %>
         <tr> 
              <th><%= item.title %></th>
              <td colspan="2"><a class="btn btn-indigo btn-sm " href="/modify/<%= item.key %>" role="button">Edit</a>
               <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#<%= item.key %>">
               Delete
              </button>
              </td>
           

              <!-- Modal -->
              <div class="modal fade" id="<%= item.key %>" tabindex="-1" role="dialog" aria-labelledby="<%= item.key %>"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header danger-color">
                      <h5 class="modal-title white-text" id="exampleModalLabel">Confirm</h5>
                      <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form method="POST" action="/delete/<%= item.title %>">
                    <div class="modal-body">
                    Are you sure you want to delete <span class="font-weight-bold"><%= item.title %></span> ?
                    <div class="mt-3">
                   
                      <button class="btn btn-danger btn-sm" name="itemToDelete" value="<%= item.title %>" type="submit">Delete</button>
                       <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                       </form>
                    </div>
                  </div>
                </div>
              </div></td>
            </tr>
             <% }) %>
          </tbody>
          <!--Table body-->
          
        </table>
        <!--Table-->
        <a class="btn primary-color-dark white-text btn-sm ml-5 " href="/add/former" role="button">add new</a>
         
      </div>

    </section>

      </div>
</section>
<!--Section: Live preview-->
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="text-center font-small ">
  <% include ./footer %>
  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->

    <!--  JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- JavaScript -->

  <!-- JQuery -->
  <script type="text/javascript" src="../../admin/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../admin/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../admin/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../admin/js/mdb.min.js"></script>

</body>

</html>
