<!DOCTYPE html>
<html lang="en">

<head>
<meta name="author" content="MONARCH MAISURIYA">
<meta name="author" content="HIMANSHU JOSHI">
   <% include ./head %>
</head>
 
<body class="grey lighten-3">

  <!--Main Navigation-->
  <header>
 <% include ./header %>
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

        <div class="jumbotron">
        
          
        <% if (err) { %>
        <div class="alert alert-danger text-center center-element w-50 mb-5" role="alert">
          <h6> An error has occurred.<br>Please try again</h6>
        </div>
        <% } %> <% if (succ) { %>
        <div class="alert text-center alert-success center-element w-50 mb-5" role="alert">
          <h6>Content updated successfully</h6>
          <a href="/dashboard">Go back</a>
        </div>
        <% } %>

        <!--Upcoming Events-->
          <% upcomingEvents.forEach(function(item){ %>
          <% if (item.key == event) { %>
        <h2 class="text-center mb-4">Modify the contents of : <%= item.title %></h2>
        
         <form method="POST" class="container p-5" action="/modify/<%= event %>" enctype="multipart/form-data">
      <label for="titleForEvent"><h6 class="font-weight-bold">Title:</h6></label>
       <input type="text" id="titleForEvent" name="titleForEvent" class="form-control mb-4 col-md-5" value="<%= item.title %>">
       <label for="briefForEvent"><h6 class="font-weight-bold">Brief:</h6></label>
       <input type="text" id="briefForEvent" name="briefForEvent" class="form-control mb-4" value="<%= item.brief %>">
       <label for="detailForEvent"><h6 class="font-weight-bold">Details:</h6></label>
       <textarea type="text" class="form-control mb-4"  id="detailsForEvent" name="detailsForEvent" rows="3" ><%= item.details%></textarea>
      <label for="dateForEvent"><h6 class="font-weight-bold"> Date:</h6></label>
       <div class="row">
       <input type="date" id="dateForEvent" value="<%= item.date%>" name="dateForEvent" class="form-control datepicker col-md-2 ml-2" >
       </div>
      <label for="fileForEvent"><h6 class="font-weight-bold mt-4">Upload Images:</h6></label>
      <div class="input-group col-md-5 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>

      <div class="custom-file ">
          <input type="file" multiple class="custom-file-input" id="fileForEvent"
          name="fileForUpload" value="<%= item.images%>"
            aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose images to upload</label>
      </div>
      
    </div>

    <button class="btn btn-primary btn-sm my-4" type="submit">Update</button>
         
         </form>
       
      <% } %>
    <% }) %>
   
        
        
        <!--Former Events-->
        
       <% formerEvents.forEach(function(item){ %>
      <% if (item.key == event) { %>

    <h2 class="text-center mb-4">Modify the contents of : <%= item.title %></h2>

       <form method="POST" class="container p-5" enctype="multipart/form-data" action="/modify/<%= event %>">
    
      <label for="titleForEvent"><h6 class="font-weight-bold">Title:</h6></label>
       <input type="text" id="titleForEvent" name="titleForEvent" class="form-control mb-4 col-md-5" value="<%= item.title %>">
       <label for="detailForEvent"><h6 class="font-weight-bold">Details:</h6></label>
       <textarea type="text" class="form-control mb-4"  id="detailsForEvent" name="detailsForEvent" rows="3" ><%= item.details%></textarea>
      <label for="dateForEvent"><h6 class="font-weight-bold"> Date:</h6></label>
       <div class="row">
       <input type="date" id="dateForEvent" value="<%= item.date%>" name="dateForEvent" class="form-control datepicker col-md-2 ml-2" >
       </div>
      <label for="fileForEvent"><h6 class="font-weight-bold mt-4">Upload Images:</h6></label>
      <div class="input-group col-md-5 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>

      <div class="custom-file ">
          <input type="file" multiple class="custom-file-input" id="fileForEvent"
          name="fileForUpload" value="<%= item.images%>"
            aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose images to upload</label>
      </div>
      
    </div>
        <button class="btn btn-primary btn-sm my-4" type="submit">Update</button>
         </form>
      <% } %>
    <% }) %>
   
    
         <!--Industrial Visits-->
  
       <% industrialVisits.forEach(function(element){ %>
     
        <% if (element.key == event) { %>

        <h2 class="text-center mb-4">Modify the contents of : <%= element.title %></h2>
          <form method="POST" class="container p-5" enctype="multipart/form-data" action="/modify/<%= event %>">
      <label for="titleForEvent"><h6 class="font-weight-bold">Title:</h6></label>
       <input type="text" id="titleForEvent" name="titleForEvent" class="form-control mb-4 col-md-5" value="<%= element.title %>">
       <label for="detailForEvent"><h6 class="font-weight-bold">Details:</h6></label>
       <textarea type="text" class="form-control mb-4"  id="detailsForEvent" name="detailsForEvent" rows="3" ><%= element.details%></textarea>
        <label for="stagesForEvent"><h6 class="font-weight-bold">Stages:</h6></label>
       <input type="text" id="stagesForEvent" name="stagesForEvent" class="form-control mb-4" value="<%= element.stages %>">
      <label for="dateForEvent"><h6 class="font-weight-bold"> Date:</h6></label>
       <div class="row">
       <input type="date" id="dateForEvent" value="<%= element.date%>" name="dateForEvent" class="form-control datepicker col-md-2 ml-2" >
       </div>
      <label for="fileForEvent"><h6 class="font-weight-bold mt-4">Upload Images:</h6></label>
      <div class="input-group col-md-5 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>

      <div class="custom-file ">
          <input type="file" multiple class="custom-file-input" id="fileForEvent"
          name="fileForUpload" value="<%= element.images%>"
            aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose images to upload</label>
      </div>
      
    </div>
        <button class="btn btn-primary btn-sm my-4" type="submit">Update</button>
         </form>
      <% } %>
    <% }) %>
              
         
        </div>

    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="text-center font-small ">
  <% include ./footer %>
  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->

    <!--  JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- JavaScript -->

  <!-- JQuery -->
  <script type="text/javascript" src="../../admin/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../admin/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../admin/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../admin/js/mdb.min.js"></script>

</body>

</html>

