<!-- views/pages/upcoming.ejs -->

<!DOCTYPE html>
<html lang="en">
<!--
    WEBSITE AUTHORS : 
    MONARCH MAISURIYA 
    HIMANSHU JOSHI
-->
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <!-- Start your project here-->

    <!--Main Navigation-->
    <header>
      <% include ../partials/header %>
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-10">
      <div class="container">
        <!--EJS Conditions-->
        <% if (err) { %>
        <div class="alert alert-danger  mt-5 text-center" role="alert">
          <h6>An error has occured.</h6>
        </div>
        <% } %> <% if (succ) { %>
        <div class="alert text-center alert-success" role="alert">
          <h6>Registered successfully</h6>
        </div>
        <% } %>
   <% upcomingEvents.forEach(function(item){ %>
     <% if (eID == item.id) { %>
        <!-- Jumbotron -->
        <div
          class="card card-image mt-5"
          style="background-image: url(/img/upcoming/<%= item.active%>);"
        >
          <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">
              <!-- Content -->
              <h1 class="h1 white-text">
                <i class="fas fa-calendar-plus"></i> <%= item.title %>
              </h1>
            <p class="card-text"><%= item.date %> </p>
              <p class="mb-4 pb-2 mt-5 px-md-5 mx-md-5">
                <%= item.details  %>
              </p>

             
              </div>
            </div>
          </div>
        </div>
        <!-- Jumbotron -->

        <!--Registration Form-->
        <!--Section: Contact v.2-->
        <section class="mb-4">
          <div class="container mt-5">
            <!--Card content-->
            <div class=" px-lg-5">
              <h4 class="text-center py-4">
                Register for the event
              </h4>

              <p class="text-center">
                <a href="/former" target="_blank">See previous events</a>
              </p>

              <!-- Form -->
              <form method="POST" action="/event/<%= item.id %>" class="mt-5" >
                <div class="row">
                  
                  <div class="col-10 ">
                    <input
                      type="email"
                      name="user_email"
                      id="defaultContactFormEmail"
                      class="form-control mb-4"
                      placeholder="E-mail"
                      required
                    />
                  </div>
                </div>

                <div class="row">
                <div class="col-8">
                    <input
                      type="text"
                      name="user_name"
                      id="defaultContactFormName"
                      class="form-control mb-4"
                      placeholder="Name"
                      required
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <input
                      type="number"
                      name="user_phone"
                      id="defaultContactFormNumber"
                      class="form-control mb-4"
                      placeholder="Phone number"
                      required
                    />
                  </div>
                </div>

                <button class="btn unique-color-dark white-text " type="submit">
                  Register
                </button>
              </form>
            </div>
          </div>

          <!--Grid column-->
        </section>
        <!--Section: Contact v.2-->
      <% } %>
 <% }) %>
      </div>
    </main>
    <!--Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <% include ../partials/footer %>
    </footer>
    <!-- Footer -->
    <!-- End your project here-->

    <!-- SCRIPTS -->
    <!-- JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!--  JavaScript -->
    <script type="text/javascript" src="../js/script.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
  </body>
</html>
