<!-- views/pages/industrial-visits.ejs -->

<!DOCTYPE html>
<html lang="en">

  <head>
  <meta name="author" content="MONARCH MAISURIYA">
  <meta name="author" content="HIMANSHU JOSHI">
    <% include ../partials/head %>
  </head>

  <body>
    <!-- Start your project here-->
    <!--Main Navigation-->
    <header>
      <% include ../partials/header %>
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-10">
      <!-- Page Content -->
      <div class="container">
        <h1 class="font-weight-light text-center mt-4 mb-5">
        <i class="fas fa-calendar-plus"></i> 
        Upcoming Events</h1>


  <!-- Grid row -->
  <div class="row text-center">

    <!-- Grid column -->
    <div class="col-md-12 mb-4">
     <% upcomingEvents.forEach(function(item){ %>
     
    <!-- Grid column -->
    <div class="col-md-12 mb-5">
      <div class="card card-image" style="background-image: url(img/events/<%= item.active %>);">
        <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4 rounded">
          <div class=" text-center">
            <h3 class="font-weight-bold text-center mb-5">
              <strong><%= item.title %></strong>
            </h3>
            <p ><%= item.date %>
            </p>
           
            <p class="text-center grey-text d-flex align-items-center"><%= item.brief%></p>
            <a class="btn btn-secondary btn-rounded btn-md" href="event/<%= item.id %>"><i class="fas fa-clone left"></i>Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->
      <% }) %>
    </div>
    <!-- Grid column -->

    </div>
 <!-- Grid row -->
</section>
<!-- Projects section v.4 -->  
  </div>
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <% include ../partials/footer %>
    </footer>
    <!-- Footer -->
    <!-- End your project here-->

    <!-- SCRIPTS -->
    <!-- Dynamic Date -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript" src="../js/script.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
     </main>
  </body>
</html>
